@model MojaNawigacja.Models.NawigacjaDBEntities
@{
    ViewBag.Title = "Trasy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trasy</h2>

<table>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Miejsce wyjazdu
            </th>
            <th>
                Miejsce docelowe
            </th>
            <th>
                Data dodania
            </th>
            <th>
                Opcje
            </th>
        </tr>
    </thead>
    @foreach (var adres in Model.Adresy)
    {
        <tr>
            <td>
                @Html.Encode(adres.IdTrasy)
            </td>
            <td>
                @Html.Encode(adres.MiejsceWyjazdu)
            </td>
            <td>
                @Html.Encode(adres.MiejsceDocelowe)
            </td>
            <td>
                @Html.Encode(adres.DataDodania)
            </td>
            <td>
                @Html.ActionLink("Usuń", "UsunTrase", adres)
            </td>
        </tr>
    }
</table>

